* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html,
// body {
//   -webkit-app-region: drag;
// }

.no_drag {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  display: none;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #eee;
}
::-webkit-scrollbar-track {
  display: none;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  display: none;
  border-radius: 0;
  background-color: #999;
  transition: all .2s;
  border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
  display: none;
  background-color: rgba(95, 95, 95, 0.7);
}
