/**
 * @description 歌词页面样式
 * @author typeofNaN
 * @time 2020-09-20
 */

#lrc {
  display: flex;

  .song_info {
    position: relative;
    width: 320px;
    height: 100vh;
    overflow: hidden;

    .song_cover {
      height: 100%;
    }

    .comment {
      position: absolute;
      left: 0;
      top: 200px;
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    .cover {
      position: absolute;
      left: 0;
      top: 260px;
      padding: 10px 20px;
      background-color: #000;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
    }

    .infos {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);

      .title {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-image: linear-gradient(to top, #fff, rgb(0, 0, 0, 0));

        .name {
          margin-bottom: 0;
          font-size: 24px;
          font-weight: 300;
          color: #fff;
        }

        .line {
          border: 1px solid #fff;
        }

        .author {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 10px;
          color: #909399;
        }
      }
    }
  }

  .song_lyric {
    position: relative;
    width: 480px;
    height: 100vh;
    overflow: hidden;

    .song_cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(6px);
    }

    .lyric {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 160px;
      text-align: center;
      color: #fff;
      background-color: rgba(0, 0, 0, .2);
      font-size: 28px;
      font-weight: 200;
      z-index: 9;
    }
  }
}