/**
 * @description loading动画样式
 * @author typeofNaN
 * @time 2020-09-19
 */

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .6);
  z-index: 9999;

  .loading_box {
    width: 50px;
    height: 40px;
    margin: 200px auto;
    text-align:center;

    span {
      width: 5px;
      height: 100%;
      display: inline-block;
      background: #67CF22;;
      animation: mymove 1.2s infinite ease-in-out;
      -webkit-animation: mymove 1.2s infinite ease-in-out;

      &:nth-child(2) {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
      }

      &:nth-child(3) {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
      }

      &:nth-child(4) {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
      }

      &:nth-child(5) {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
      }
    }

    @keyframes mymove {
      0% {
        transform:scaleY(0.4);
      }
      25% {
        transform:scaleY(1.0);
      }
      50% {
        transform:scaleY(0.4);
      }
      75% {
        transform:scaleY(0.4);
      }
      100% {
        transform:scaleY(0.4);
      }
    }

    @-webkit-keyframes mymove {
      0% {
        transform:scaleY(0.4);
      }
      25% {
        transform:scaleY(1.0);
      }
      50% {
        transform:scaleY(0.4);
      }
      75% {
        transform:scaleY(0.4);
      }
      100% {
        transform:scaleY(0.4);
      }
    }
  }
}